@import '~bootstrap/scss/bootstrap';

body {
  text-align: center;
  background-image: url();
  background-repeat: repeat;
  background-size: cover;
}

button {
  margin: 5px;
}

#modal-header {
  text-align: center;
}

// .d-block {
//   display: block;
//   text-align: center;
// }

#message {
  white-space: pre-wrap;
}

#sign-up, #login, #new-game, #changepw, #logout, #stats, #show-changepw, #play-menu, .back, .pw-back {
  // visibility: hidden;
  display: none;
}

.board {
  width: 500px;
  display: none;
  .cell {
    border: 5px solid black;
    height: calc(500px /3);
    font-size: 150px;
    text-align: center;
    vertical-align: middle;
  }
}
