@import '~bootstrap/scss/bootstrap';

body {
  text-align: center;
  background-image: url();
  background-repeat: repeat;
  background-size: cover;
  background-color: black;
  color: #22b455;
}

button {
  margin: 5px;
  width: 170px;
}

input[type=text], input[type=password], input[type=email] {
  width: 190px;
  background-color: #D3D3D3;
}

#login, #changepw {
  color: #92e5a1
}

.btn, .btn-primary {
  background-color: #22b455;
  border-color: #22b455;
  color: black;
}

.btn:hover, .btn-primary:hover {
  background-color: #204829;
  border-color: #204829;
  color: #020204;
}

.btn:focus, .btn-primary:focus {
  background-color: #204829;
  border-color: #204829;
  color: #020204;
}

.btn:active, .btn-primary:active {
background-color: #204829;
border-color: #204829;
color: #020204;
}

input {
  margin: 7.5px;
}
.modal {
  background-color: black;
}

.modal-title {
  text-align: center;
  color: black;
}
.modal-content {
  text-align: center;
}
.modal-body {
  color: black;
}
.modal-footer {
 flex-direction: column;
}
.game-over {
  display: block;
}
// .d-block {
//   display: block;
//   text-align: center;
// }

#main-menu, #sign-up, #login, #new-game, #changepw, #logout, #stats, #show-changepw, #play-menu, .back, .pw-back, .instructions {
  // visibility: hidden;
  display: none;
}

#message {
  white-space: pre-wrap;
  color: #92e5a1;
}
// .container {
//   display: flex;
//   text-align: center;
//   #message {
//     white-space: pre-wrap;
//     align-items: center;
//     justify-content: center;
//   }
// }
.cursor {
  display: inline-block;
  width: 3px;
  height: 30px;
  background-color: #22b455;
  // padding-top: 20px;
}

.parent {
  display: flex;
  align-items: center;
}

.board {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: none;
  .cell {
    border: 5px solid #92e5a1;
    height: calc(500px /3);
    font-size: 150px;
    padding-bottom: 20px;
    line-height: 125px;
  }
}
