@import '~bootstrap/scss/bootstrap';

body {
  text-align: center;
  background-color: black;
  color: #22b455;
  font-family: 'Red Rose', cursive;
  user-select: none;
}

h1 {
  margin-top: 5vh;
  font-family: 'Red Rose', cursive;
}

#taken {
  color: #92e5a1;
}

button {
  margin: 5px;
  width: 170px;
}

input[type=text], input[type=password], input[type=email] {
  width: 190px;
  background-color: #D3D3D3;
}

#login, #changepw {
  color: #92e5a1
}

.btn, .btn-primary {
  background-color: #22b455;
  border-color: #22b455;
  color: black;
}

.btn:hover, .btn-primary:hover {
  background-color: #204829;
  border-color: #204829;
  color: #020204;
}

.btn:focus, .btn-primary:focus {
  background-color: #204829;
  border-color: #204829;
  color: #020204;
}

.btn:active, .btn-primary:active {
background-color: #204829;
border-color: #204829;
color: #020204;
}

input {
  margin: 7.5px;
}

.modal {
  background-color: black;
}

.modal-title {
  text-align: center;
  color: #22b455;
}
.modal-content {
  text-align: center;
}
.modal-body {
  color: black;
}
.modal-footer {
 flex-direction: column;
}
.game-over {
  display: block;
}

#main-menu, #sign-up, #login, #new-game, #changepw, #logout, #stats, #show-changepw, #play-menu, .back, .pw-back, .instructions {
  display: none;
}

#message {
  white-space: pre-wrap;
  color: #92e5a1;
}

.cursor {
  display: inline-block;
  width: 3px;
  background-color: #22b455;
  animation: blink 1s infinite;
  margin-left: 0.1rem;
}
.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% { background-color: #22b455; }
  49% { bavkgorund-color: #22b455; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100% { background-color: #22b455;}
}

.board {
  height: calc(45vh);
  width: calc(45vh);
  margin-top: 10px;
  margin-bottom: 30px;
  display: none;
  .cell {
    cursor: pointer;
    border: 5px solid #92e5a1;
    height: calc(45vh / 3);
    font-size: calc(45vh / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px #D3D3D3;
    text-shadow: 2px 2px white;
    user-select: none;
    &:hover {
      background-color: #204829;
    }
  }
}

.ani {
        animation: ani 0.5s ease-in-out;
    }

@keyframes ani {
    from {
        font-size: 0vh;
        opacity: 0.5;
    }
    to {
        font-size: 15vh;
        opacity: 1;
    }
}
