@import '~bootstrap/scss/bootstrap';

body {
  text-align: center;
}

#message {
  white-space: pre-wrap;
}

.all-auth {
  // visibility: hidden;
  display: none;
}

.board {
  width: 450px;
  display: none;
  .cell {
    border: 5px solid black;
    height: 150px;
  }
}
